*{
background-color: lightcyan;
font-family: tahoma, arial;
}
body{
background-image: url('scenery.jpg');
background-repeat: repeat-x;
background-attachment:fixed;
background-position: 0ex;
}
.animal{
font-weight: 600;
color: darkblue;
}
h1{
text-align: center;
padding: 20px;
font-weight: 800;
}
#pic{
padding: 10px;
text-align: center;
}
h3{
text-decoration: underline;
color: dimgrey;
}


.note{
font-size: 10pt;
color:darkblue;
}


span{
color: yellowgreen;
}
.another span{
color: inherit;
}
li, em{
font-size: 14pt;
}
h1 em{
font-size: 12pt;
text-decoration-line: overline;
}
#oneAndOnlyTitle{
background-color: palevioletred;
padding: 20px;
text-align: center;
}
.fruit{
background-color: lightcoral;
color: white;
padding: 8px;
}