
body{
    padding: 10px 10px 10px 10px;
    font-family: monospace, cursive;
    color:darkblue;
    background-color: lightyellow;
}
.navbar{
    padding: 10px 10px 10px 10px;
    font-size: 22px;
}
nav{
    font-weight: bolder;
    font-size: 26px;
    border: 2px solid black;
    padding:20px 20px 20px 20px;
}
nav ul{
    display: none;
    list-style: none;
}
nav:hover ul{
    display: block;
}

ul{
    top: 100px;
    left: 120px;
    width: 40%;
    position: center;
}

li{
    background-color: silver;
    margin: 10px;
    padding: 14px 10px 14px 10px;
    border-right: 5px solid black;
}
a{
    text-decoration: none;
}


@media screen and(min-width: 720px){
    body{
        background-color: lightcoral;
        color: darkkhaki;
    }
}

